{% extends "bases/auth.jinja" %} {% load static %} {% block content %}
    <div id="root">
      <div
        class="w-full bg-background-theme flex items-start flex-col noselect"
      >
        <h1 class="hidden">Atomic Shield - Sign In</h1>
        <img
          src="./static/image/logo-ico.svg"
          alt="Atomic Shield"
          class="hidden"
        />
        {% include "components/header.jinja" %}
        <div class="flex py-12 self-stretch px-4 sm:px-8 md:px-12">
          <div class="w-full">
            <div class="min-h-[43rem] py-4 text-white self-stretch px-4">
              <section id="terms-of-service" class="mb-12">
                <h2
                  class="text-6xl text-gray-300 font-extrabold tracking-tight pl-4 mb-2"
                >
                  404 Not Found
                </h2>
                <div class="p-3 pl-6 rounded-lg">
                  <p class="text-gray-300 mb-4 text-xl font-bold">
                    The Requested URL Not Found!
                  </p>
                </div>
              </section>
            </div>
          </div>
        </div>
        {% include "components/footer.jinja" %}
      </div>
    </div>
    {% endblock content %}
