{% extends "bases/home.jinja" %} {% load static %} {% block content %}
<section class="h-[70vh] text-white font-bold py-[20vh] ml-16">
  <p class="text-white text-5xl font-extrabold tracking-tight">
    <span class="text-purple-600">Secure</span>
    Your Server
  </p>
  <p class="text-5xl ml-6">
    From
    <span class="text-purple-600 font-extrabold tracking-tight">Cheaters</span>
  </p>
    <p class="w-96 text-gray-400 block py-10 font-medium text-lg">
      A Large network of cheaters tracking with a special detection system
      developed by us.
    </p>
    <button class="mx-auto text-black text-xl bg-purple-600 rounded px-5 py-2 transition-all duration-300 hover:bg-purple-700">Free Trial</button>
</section>
<section class="h-[70vh] text-white font-bold py-[20vh] ml-16">
  <h1 class="text-white text-5xl font-extrabold tracking-tight w-[37rem] px-2">
    Another <span class="text-purple-600">Detection System</span>
    For Cheats!
  </h1>  
  <p class="w-[33rem] text-gray-400 block py-10 font-medium text-lg ml-6">
    <span class="text-purple-600">Eagle AntiCheat</span> is not like any MTA:SA AntiCheat, Our anticheat is designed to detect the presence of the cheat, not only it's behaviour
  </p>
</section>
<section class="h-[70vh] text-white font-bold py-[20vh] ml-16">
  <h1 class="text-white text-5xl font-extrabold tracking-tight w-[37rem] px-2">
    We are  <span class="text-purple-600">Growing Up</span>
    Our Community!
  </h1>  
  <div class="flex flex-wrap py-10 w-full">
    <p class="w-[33rem] text-gray-400 block font-medium text-lg ml-6">
      Our AntiCheat is new in The Game, Growing up the community not only will Decrease The Cheats in the servers, it will make the system more stronger
    </p>
    <div class="flex gap-10 mx-auto my-auto text-xl font-bold">
      <div class="w-16 text-center px-4">
        <span class="text-purple-600">4096</span>
        <span class="text-gray-400">Servers</span>
      </div>
      <div class="w-16 text-center px-4">
        <span class="text-purple-600">10,7845</span>
        <span class="text-gray-400">Bans</span>
      </div>
      <div class="w-16 text-center px-4">
        <span class="text-purple-600">4096</span>
        <span class="text-gray-400">Servers</span>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
