{% extends "bases/home.jinja" %} {% load static %} {% block content %}
<section class="mt-6">
    <div class="max-w-screen-xl px-4 py-8 mt-6 mx-auto lg:py-16">
        <div class="grid items-center gap-8 mb-8 lg:mb-16 lg:gap-12 lg:grid-cols-12 ">
            <div class="col-span-6 text-center sm:mb-6 lg:text-left lg:mb-0">
                <h1 class="mb-4 text-4xl text-gray-400 font-extrabold leading-none tracking-tight md:text-5xl text-white animate-on-scroll animate__animated animate__backInLeft">
                  <span class="text-[#8C592B]">Secure</span> your Server from
                  <span class="text-[#8C592B]">Cheaters</span>
                </h1>
                <h1 class="max-w-xl mx-auto mb-6 font-bold lg:mx-0 xl:mb-8 md:text-lg xl:text-xl text-gray-400 animate-on-scroll-right animate__animated animate__backInRight select-none">with <span class="text-[#8C592B]">SafeGuard</span> AntiCheat</h1>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/particles.js' %}"></script>
{% endblock content %}
