{% extends "bases/auth.jinja" %} {% load static %} {% block content %}
    <div id="root">
      <div
        class="w-full bg-background-theme flex items-start flex-col noselect"
      >
        <h1 class="hidden">Atomic Shield - Sign In</h1>
        <img
          src="./static/image/logo-ico.svg"
          alt="Atomic Shield"
          class="hidden"
        />
        {% include "components/header.jinja" %}
        <div class="flex py-12 self-stretch px-4 sm:px-8 md:px-12">
          <div class="w-full">
            <div class="min-h-[43rem] py-4 text-white self-stretch px-4">
              <section id="terms-of-service" class="mb-12">
                <h2
                  class="text-4xl text-gray-300 font-extrabold tracking-tight pl-4 mb-4"
                >
                  Terms of Service
                </h2>
                <div class="shadow-md p-6 rounded-lg">
                  <p class="text-gray-300 mb-4">
                    By using Atomic Shield ("the Software"), you agree to the following terms:
                  </p>
                  <ul class="list-disc list-inside space-y-2 text-gray-300">
                    <li>
                      Atomic Shield is provided "as-is" without any warranties of any kind, express or implied.
                    </li>
                    <li>
                      We reserve the right to terminate your access to the Software at any time for violations of these terms.
                    </li>
                    <li>
                      These Terms of Service may be updated from time to time, and it is your responsibility to review them periodically.
                    </li>
                    <li>
                      The Software does not collect or store any personal data. It is solely designed to function as an anti-cheat system for verified FiveM servers.
                    </li>
                    <li>
                      This software is digitally signed and verified by Microsoft to ensure authenticity and integrity.
                    </li>
                  </ul>
                </div>                
              </section>
              <section id="tebex-terms" class="mb-12">
                <h2
                  class="text-4xl text-gray-300 font-extrabold tracking-tight pl-4 mb-4"
                >
                  Tebex Terms & Conditions
                </h2>
                <div class="shadow-md p-6 rounded-lg">
                  <p class="text-gray-300 mb-4">
                    We partner with Tebex Limited (<a href="https://www.tebex.io" class="text-blue-500">www.tebex.io</a>), who are the official merchant of digital content produced by us. If you wish to purchase licenses to use digital content we produce, you must do so through Tebex as our licensed reseller and merchant of record.
                  </p>
                  <p class="text-gray-300 mb-4">
                    In order to make any such purchase from Tebex, you must agree to their terms, available at <a href="https://checkout.tebex.io/terms" class="text-blue-500">https://checkout.tebex.io/terms</a>.
                  </p>
                  <p class="text-gray-300 mb-4">
                    If you have any queries about a purchase made through Tebex, including but not limited to refund requests, technical issues, or billing enquiries, you should contact Tebex support at <a href="https://www.tebex.io/contact/checkout" class="text-blue-500">https://www.tebex.io/contact/checkout</a> in the first instance.
                  </p>
                </div>
              </section>
              <section id="privacy-notice" class="mb-12">
                <h2
                  class="text-4xl text-gray-300 font-extrabold tracking-tight pl-4 mb-4"
                >
                  Privacy Notice
                </h2>
                <div class="shadow-md p-6 rounded-lg">
                  <p class="text-gray-300 mb-4">
                    Your privacy is important to us. This Privacy Notice
                    outlines how we handle your data:
                  </p>
                  <ul class="list-disc list-inside space-y-2 text-gray-300">
                    <li>
                      We may collect and process data related to cheat
                      detection, such as memory scans and activity logs, solely
                      for maintaining game integrity.
                    </li>
                    <li>
                      Personal information, such as IP addresses, may be
                      collected but will not be shared with third parties unless
                      required by law.
                    </li>
                    <li>
                      Data is stored securely and retained only for as long as
                      necessary to fulfill its purpose.
                    </li>
                    <li>
                      By using the Software, you consent to the collection and
                      processing of this data.
                    </li>
                    <li>
                      If you have questions about your data, you may contact us
                      at
                      <a
                        href="mailto:support@atomicshield.com"
                        class="text-blue-500"
                        >support@atomicshield.com</a
                      >.
                    </li>
                  </ul>
                </div>
              </section>
              <section id="refund-policy" class="mb-12">
                <h2
                  class="text-4xl text-gray-300 font-extrabold tracking-tight pl-4 mb-4"
                >
                  Refund Policy
                </h2>
                <div class="shadow-md p-6 rounded-lg">
                  <p class="text-gray-300 mb-4">
                    We aim to provide the best service possible. Please review
                    our refund policy below:
                  </p>
                  <ul class="list-disc list-inside space-y-2 text-gray-300">
                    <li>
                      Refunds are not offered for digital products unless
                      required by applicable law.
                    </li>
                    <li>
                      In cases of technical issues with the Software, please
                      contact our support team to resolve the issue before
                      requesting a refund.
                    </li>
                    <li>
                      If a refund is granted, it will be processed within 7-14
                      business days.
                    </li>
                    <li>
                      All refund requests must be submitted in writing to
                      <a
                        href="mailto:support@atomicshield.com"
                        class="text-blue-500"
                        >support@atomicshield.com</a
                      >.
                    </li>
                  </ul>
                </div>
              </section>
            </div>
          </div>
        </div>
        {% include "components/footer.jinja" %}
      </div>
    </div>
{% endblock content %}
