{% extends "bases/auth.jinja" %} {% load static %} {% block content %}
    <div id="root">
      <div
        class="w-full bg-background-theme flex items-start flex-col noselect"
      >
        <h1 class="hidden">Atomic Shield - Sign In</h1>
        <img
          src="./static/image/logo-ico.svg"
          alt="Atomic Shield"
          class="hidden"
        />
        <header
          class="flex flex-row py-4 justify-between items-center self-stretch z-50 bg-[#08101777] px-12 sticky md:top-0 backdrop-blur-md"
        >
          <div
            class="flex flex-row items-center gap-4 md:gap-12 w-full md:w-auto"
          >
            <a href="/" class="flex h-12 items-center gap-2"
              ><img
                src="./static/image/logo.svg"
                alt="Atomic Shield"
                class="h-7"
              />
              <div
                class="text-[1.5rem] md:text-[1.75rem] font-jakartasans font-bold text-[#00A7FD] tracking-[-0.07rem] leading-[100%]"
              >
                Atomic Shield
              </div></a
            >
            <div class="hidden md:flex items-start gap-4 md:gap-8">
              <div
                class="text-[#D7DFE5] text-sm md:text-base font-semibold font-jakartasans leading-5 transition duration-300 ease-in-out cursor-pointer hover:text-[#00A7FD] hover:drop-shadow-[0rem_0rem_1rem_#00A7FD]"
              >
                Home
              </div>
              <div
                class="text-[#D7DFE5] text-sm md:text-base font-semibold font-jakartasans leading-5 transition duration-300 ease-in-out cursor-pointer hover:text-[#00A7FD] hover:drop-shadow-[0rem_0rem_1rem_#00A7FD]"
              >
                Features
              </div>
              <div
                class="text-[#D7DFE5] text-sm md:text-base font-semibold font-jakartasans leading-5 transition duration-300 ease-in-out cursor-pointer hover:text-[#00A7FD] hover:drop-shadow-[0rem_0rem_1rem_#00A7FD]"
              >
                Pricing
              </div>
              <a
                href="https://discord.gg/YFCRffsZKK"
                class="text-[#D7DFE5] text-sm md:text-base font-semibold font-jakartasans leading-5 transition duration-300 ease-in-out cursor-pointer hover:text-[#00A7FD] hover:drop-shadow-[0rem_0rem_1rem_#00A7FD]"
                >Discord</a
              ><a
                href="/policy"
                class="text-[#D7DFE5] text-sm md:text-base font-semibold font-jakartasans leading-5 transition duration-300 ease-in-out cursor-pointer hover:text-[#00A7FD] hover:drop-shadow-[0rem_0rem_1rem_#00A7FD]"
                >Policy</a
              >
            </div>
          </div>
          <div class="flex flex-row items-center gap-4 md:gap-8 mt-0">
            <a
              href="/auth/signin"
              class="text-[#D7DFE5] hidden md:flex text-s md:text-base font-semibold font-jakartasans leading-5 transition duration-300 ease-in-out cursor-pointer hover:text-[#00A7FD] hover:drop-shadow-[0rem_0rem_1rem_#00A7FD]"
              >Sign In</a
            ><a
              href="/dashboard/main"
              class="py-2 px-4 flex items-center justify-center bg-[#00A7FD] text-sm md:text-base text-background-theme rounded-full font-semibold font-jakartasans leading-5 border border-transparent hover:bg-transparent hover:border-[#00A7FD] hover:drop-shadow-[0rem_0rem_1rem_#00A7FD] hover:text-[#D7DFE5] transition-all duration-300"
              >Dashboard</a
            >
          </div>
        </header>
        <div class="flex py-12 self-stretch px-4 sm:px-8 md:px-12">
          <div class="w-full">
            <div class="min-h-[43rem] py-4 text-white self-stretch px-4">
              <section id="terms-of-service" class="mb-12">
                <h2
                  class="text-4xl text-gray-300 font-extrabold tracking-tight pl-4 mb-4"
                >
                  Terms of Service
                </h2>
                <div class="shadow-md p-6 rounded-lg">
                  <p class="text-gray-300 mb-4">
                    By using Atomic Shield ("the Software"), you agree to the
                    following terms:
                  </p>
                  <ul class="list-disc list-inside space-y-2 text-gray-300">
                    <li>
                      You may not use the Software for any unlawful or malicious
                      purposes.
                    </li>
                    <li>
                      Unauthorized distribution, modification, or reverse
                      engineering of the Software is strictly prohibited.
                    </li>
                    <li>
                      Atomic Shield is provided "as-is" without any warranties
                      of any kind, express or implied.
                    </li>
                    <li>
                      We reserve the right to terminate your access to the
                      Software at any time for violations of these terms.
                    </li>
                    <li>
                      These Terms of Service may be updated from time to time,
                      and it is your responsibility to review them periodically.
                    </li>
                  </ul>
                </div>
              </section>
              <section id="privacy-notice" class="mb-12">
                <h2
                  class="text-4xl text-gray-300 font-extrabold tracking-tight pl-4 mb-4"
                >
                  Privacy Notice
                </h2>
                <div class="shadow-md p-6 rounded-lg">
                  <p class="text-gray-300 mb-4">
                    Your privacy is important to us. This Privacy Notice
                    outlines how we handle your data:
                  </p>
                  <ul class="list-disc list-inside space-y-2 text-gray-300">
                    <li>
                      We may collect and process data related to cheat
                      detection, such as memory scans and activity logs, solely
                      for maintaining game integrity.
                    </li>
                    <li>
                      Personal information, such as IP addresses, may be
                      collected but will not be shared with third parties unless
                      required by law.
                    </li>
                    <li>
                      Data is stored securely and retained only for as long as
                      necessary to fulfill its purpose.
                    </li>
                    <li>
                      By using the Software, you consent to the collection and
                      processing of this data.
                    </li>
                    <li>
                      If you have questions about your data, you may contact us
                      at
                      <a
                        href="mailto:support@atomicshield.com"
                        class="text-blue-500"
                        >support@atomicshield.com</a
                      >.
                    </li>
                  </ul>
                </div>
              </section>
              <section id="refund-policy">
                <h2
                  class="text-4xl text-gray-300 font-extrabold tracking-tight pl-4 mb-4"
                >
                  Refund Policy
                </h2>
                <div class="shadow-md p-6 rounded-lg">
                  <p class="text-gray-300 mb-4">
                    We aim to provide the best service possible. Please review
                    our refund policy below:
                  </p>
                  <ul class="list-disc list-inside space-y-2 text-gray-300">
                    <li>
                      Refunds are not offered for digital products unless
                      required by applicable law.
                    </li>
                    <li>
                      In cases of technical issues with the Software, please
                      contact our support team to resolve the issue before
                      requesting a refund.
                    </li>
                    <li>
                      If a refund is granted, it will be processed within 7-14
                      business days.
                    </li>
                    <li>
                      All refund requests must be submitted in writing to
                      <a
                        href="mailto:support@atomicshield.com"
                        class="text-blue-500"
                        >support@atomicshield.com</a
                      >.
                    </li>
                  </ul>
                </div>
              </section>
            </div>
          </div>
        </div>
        <footer
          id="contact"
          class="bg-background-theme flex flex-col px-6 pb-6 md:px-12 md:pb-12 items-center md:items-start gap-6 self-stretch z-10 relative"
        >
          <div
            class="w-full h-[1.5px] bg-gray-theme absolute top-[-0.5rem] md:top-[-1rem] left-0"
          ></div>
          <div
            class="flex flex-col md:flex-row items-center md:items-start gap-6 md:gap-12 self-stretch text-center md:text-left"
          >
            <div
              class="flex flex-col justify-between items-center md:items-start self-stretch w-full md:w-[12.5rem]"
            >
              <div class="flex h-12 items-center gap-2">
                <img
                  src="./static/image/logo.svg"
                  alt="Atomic Shield"
                  class="h-7"
                />
                <div
                  class="text-[1.25rem] md:text-[1.5rem] lg:text-[1.75rem] font-jakartasans font-bold text-[#00A7FD] tracking-[-0.07rem] leading-[100%]"
                >
                  Atomic Shield
                </div>
              </div>
              <div class="flex items-center gap-3 mt-4 md:mt-0">
                <a href=""
                  ><img
                    src="./static/image/facebook.svg"
                    alt="facebook"
                    class="h-[1.5rem]" /></a
                ><a href=""
                  ><img
                    src="./static/image/instagram.svg"
                    alt="instagram"
                    class="h-[1.5rem]" /></a
                ><a href=""
                  ><img
                    src="./static/image/twitter.svg"
                    alt="twitter"
                    class="h-[1.5rem]"
                /></a>
              </div>
            </div>
            <div
              class="flex w-full md:w-[12.5rem] flex-col justify-center items-center md:items-start gap-2"
            >
              <div
                class="text-[#D7DFE5] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
              >
                Legal
              </div>
              <a
                href="/policy"
                class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
                >Privacy Policy</a
              ><a
                href="/policy"
                class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
                >Terms of Service</a
              ><a
                href="/policy"
                class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
                >Security</a
              >
            </div>
            <div
              class="flex w-full md:w-[12.5rem] flex-col justify-center items-center md:items-start gap-2"
            >
              <div
                class="text-[#D7DFE5] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
              >
                Contact
              </div>
              <a
                href="/"
                class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
                >Support</a
              ><a
                href="/"
                class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
                >Partners</a
              >
            </div>
          </div>
        </footer>
      </div>
    </div>
    {% endblock content %}
