{% extends "bases/auth.jinja" %} {% load static %} {% block content %}
<div id="root">
  <div class="w-full bg-background-theme flex items-start flex-col noselect">
    <h1 class="hidden">Atomic Shield - Sign In</h1>
    <img
      src="{% static 'image/logo-ico.svg' %}"
      alt="Atomic Shield"
      class="hidden"
    />
    {% include "components/header.jinja" %}
    <div
      class="flex py-12 items-center justify-center self-stretch px-4 sm:px-8 md:px-12"
    >
      <div class="flex flex-col items-center w-full max-w-lg mx-auto">
        <div
          class="flex min-h-[43rem] py-8 flex-col items-center gap-8 self-stretch"
        >
          <form method="POST">
            {% csrf_token %}
            <div class="flex w-full flex-col items-center gap-6">
              <div class="flex flex-col items-center gap-2 w-full text-center">
                <h1
                  class="text-[#D7DFE5] text-xl sm:text-2xl font-bold leading-6 sm:leading-8"
                >
                  Create Your Account
                </h1>
                <p
                  class="text-[#D7DFE5] text-sm sm:text-base font-normal leading-5"
                >
                  Join Atomic Shield today and start innovating!
                </p>
              </div>
              <div class="flex flex-col items-start gap-4 w-full">
                <input
                  type="text"
                  class="flex px-3 py-2 gap-2 w-full border border-[#91a6b633] bg-[#121920] rounded-lg text-sm leading-5 text-[#D7DFE5] placeholder:text-[#d1e2eb66] focus:outline-none"
                  placeholder="Username"
                  name="username"
                /><input
                  type="text"
                  class="flex px-3 py-2 gap-2 w-full border border-[#91a6b633] bg-[#121920] rounded-lg text-sm leading-5 text-[#D7DFE5] placeholder:text-[#d1e2eb66] focus:outline-none"
                  placeholder="Email Address"
                  name="email"
                />
                <div class="relative w-full">
                  <input
                    type="password"
                    class="flex px-3 py-2 gap-2 w-full border border-[#91a6b633] bg-[#121920] rounded-lg text-sm leading-5 text-[#D7DFE5] placeholder:text-[#d1e2eb66] focus:outline-none"
                    placeholder="Password"
                    name="password"
                  /><button
                    type="button"
                    class="absolute inset-y-0 right-3 flex items-center text-[#d1e2eb66]"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                      ></path>
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                      ></path>
                    </svg>
                  </button>
                </div>
                {{ form.recaptcha }}
                <button
                  class="flex px-3 py-2 justify-center items-center w-full rounded-lg bg-[#00A7FD] text-background-theme text-sm sm:text-base font-semibold leading-5"
                >
                  Sign Up
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% include "components/footer.jinja" %}
  </div>
</div>
{% endblock content %}
