{% extends "bases/auth.jinja" %} {% load static %} {% block content %}
<div id="root">
  <div class="w-full bg-background-theme flex items-start flex-col noselect">
    <h1 class="hidden">Atomic Shield - Sign In</h1>
    <img
      src="{% static 'image/logo-ico.svg' %}"
      alt="Atomic Shield"
      class="hidden"
    />
    <header
      class="flex flex-row py-4 justify-between items-center self-stretch z-50 bg-[#08101777] px-12 sticky md:top-0 backdrop-blur-md"
    >
      <div class="flex flex-row items-center gap-4 md:gap-12 w-full md:w-auto">
        <a href="/" class="flex h-12 items-center gap-2"
          ><img src="{% static 'image/logo.svg' %}" alt="Atomic Shield" class="h-7" />
          <div
            class="text-[1.5rem] md:text-[1.75rem] font-jakartasans font-bold text-[#00A7FD] tracking-[-0.07rem] leading-[100%]"
          >
            Atomic Shield
          </div></a
        >
        <div class="hidden md:flex items-start gap-4 md:gap-8">
          <div
            class="text-[#D7DFE5] text-sm md:text-base font-semibold font-jakartasans leading-5 transition duration-300 ease-in-out cursor-pointer hover:text-[#00A7FD] hover:drop-shadow-[0rem_0rem_1rem_#00A7FD]"
          >
            Home
          </div>
          <div
            class="text-[#D7DFE5] text-sm md:text-base font-semibold font-jakartasans leading-5 transition duration-300 ease-in-out cursor-pointer hover:text-[#00A7FD] hover:drop-shadow-[0rem_0rem_1rem_#00A7FD]"
          >
            Features
          </div>
          <div
            class="text-[#D7DFE5] text-sm md:text-base font-semibold font-jakartasans leading-5 transition duration-300 ease-in-out cursor-pointer hover:text-[#00A7FD] hover:drop-shadow-[0rem_0rem_1rem_#00A7FD]"
          >
            Pricing
          </div>
          <a
            href="https://discord.gg/YFCRffsZKK"
            class="text-[#D7DFE5] text-sm md:text-base font-semibold font-jakartasans leading-5 transition duration-300 ease-in-out cursor-pointer hover:text-[#00A7FD] hover:drop-shadow-[0rem_0rem_1rem_#00A7FD]"
            >Discord</a
          ><a
            href="/policy"
            class="text-[#D7DFE5] text-sm md:text-base font-semibold font-jakartasans leading-5 transition duration-300 ease-in-out cursor-pointer hover:text-[#00A7FD] hover:drop-shadow-[0rem_0rem_1rem_#00A7FD]"
            >Policy</a
          >
        </div>
      </div>
      <div class="flex flex-row items-center gap-4 md:gap-8 mt-0">
        <a
          href="/auth/signin"
          class="text-[#D7DFE5] hidden md:flex text-s md:text-base font-semibold font-jakartasans leading-5 transition duration-300 ease-in-out cursor-pointer hover:text-[#00A7FD] hover:drop-shadow-[0rem_0rem_1rem_#00A7FD]"
          >Sign In</a
        ><a
          href="/dashboard/main"
          class="py-2 px-4 flex items-center justify-center bg-[#00A7FD] text-sm md:text-base text-background-theme rounded-full font-semibold font-jakartasans leading-5 border border-transparent hover:bg-transparent hover:border-[#00A7FD] hover:drop-shadow-[0rem_0rem_1rem_#00A7FD] hover:text-[#D7DFE5] transition-all duration-300"
          >Dashboard</a
        >
      </div>
    </header>
    <div
      class="flex py-12 items-center justify-center self-stretch px-4 sm:px-8 md:px-12"
    >
      <div class="flex flex-col items-center w-full max-w-lg mx-auto">
        <div
          class="flex min-h-[43rem] py-8 flex-col items-center gap-8 self-stretch"
        >
          <form method="POST">
            {% csrf_token %}
            <div class="flex w-full flex-col items-center gap-6">
              <div class="flex flex-col items-center gap-2 w-full text-center">
                <h1
                  class="text-[#D7DFE5] text-xl sm:text-2xl font-bold leading-6 sm:leading-8"
                >
                  Create Your Account
                </h1>
                <p
                  class="text-[#D7DFE5] text-sm sm:text-base font-normal leading-5"
                >
                  Join Atomic Shield today and start innovating!
                </p>
              </div>
              <div class="flex flex-col items-start gap-4 w-full">
                <input
                  type="text"
                  class="flex px-3 py-2 gap-2 w-full border border-[#91a6b633] bg-[#121920] rounded-lg text-sm leading-5 text-[#D7DFE5] placeholder:text-[#d1e2eb66] focus:outline-none"
                  placeholder="Username"
                  name="username"
                /><input
                  type="text"
                  class="flex px-3 py-2 gap-2 w-full border border-[#91a6b633] bg-[#121920] rounded-lg text-sm leading-5 text-[#D7DFE5] placeholder:text-[#d1e2eb66] focus:outline-none"
                  placeholder="Email Address"
                  name="email"
                />
                <div class="relative w-full">
                  <input
                    type="password"
                    class="flex px-3 py-2 gap-2 w-full border border-[#91a6b633] bg-[#121920] rounded-lg text-sm leading-5 text-[#D7DFE5] placeholder:text-[#d1e2eb66] focus:outline-none"
                    placeholder="Password"
                    name="password"
                  /><button
                    type="button"
                    class="absolute inset-y-0 right-3 flex items-center text-[#d1e2eb66]"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                      ></path>
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                      ></path>
                    </svg>
                  </button>
                </div>
                {{ form.recaptcha }}
                <button
                  class="flex px-3 py-2 justify-center items-center w-full rounded-lg bg-[#00A7FD] text-background-theme text-sm sm:text-base font-semibold leading-5"
                >
                  Sign Up
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer
      id="contact"
      class="bg-background-theme flex flex-col px-6 pb-6 md:px-12 md:pb-12 items-center md:items-start gap-6 self-stretch z-10 relative"
    >
      <div
        class="w-full h-[1.5px] bg-gray-theme absolute top-[-0.5rem] md:top-[-1rem] left-0"
      ></div>
      <div
        class="flex flex-col md:flex-row items-center md:items-start gap-6 md:gap-12 self-stretch text-center md:text-left"
      >
        <div
          class="flex flex-col justify-between items-center md:items-start flex100 self-stretch w-full md:w-[12.5rem]"
        >
          <div class="flex h-12 items-center gap-2">
            <img
              src="{% static 'image/logo.svg' %}"
              alt="Atomic Shield"
              class="h-7"
            />
            <div
              class="text-[1.25rem] md:text-[1.5rem] lg:text-[1.75rem] font-jakartasans font-bold text-[#00A7FD] tracking-[-0.07rem] leading-[100%]"
            >
              Atomic Shield
            </div>
          </div>
          <div class="flex items-center gap-3 mt-4 md:mt-0">
            <a href=""
              ><img
                src="{% static 'image/facebook.svg' %}"
                alt="facebook"
                class="h-[1.5rem]" /></a
            ><a href=""
              ><img
                src="{% static 'image/instagram.svg' %}"
                alt="instagram"
                class="h-[1.5rem]" /></a
            ><a href=""
              ><img
                src="{% static 'image/twitter.svg' %}"
                alt="twitter"
                class="h-[1.5rem]"
            /></a>
          </div>
        </div>
        <div
          class="flex w-full md:w-[12.5rem] flex-col justify-center items-center md:items-start gap-2"
        >
          <div
            class="text-[#D7DFE5] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Company
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            About Us
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Careers
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Press
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Blog
          </div>
        </div>
        <div
          class="flex w-full md:w-[12.5rem] flex-col justify-center items-center md:items-start gap-2"
        >
          <div
            class="text-[#D7DFE5] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Resources
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Help Center
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Community
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Developers
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Documentation
          </div>
        </div>
        <div
          class="flex w-full md:w-[12.5rem] flex-col justify-center items-center md:items-start gap-2"
        >
          <div
            class="text-[#D7DFE5] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Legal
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Privacy Policy
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Terms of Service
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Security
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Compliance
          </div>
        </div>
        <div
          class="flex w-full md:w-[12.5rem] flex-col justify-center items-center md:items-start gap-2"
        >
          <div
            class="text-[#D7DFE5] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Contact
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Support
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Sales
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Partners
          </div>
          <div
            class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
          >
            Affiliates
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
{% endblock content %}
