{% load static %}
<footer
  id="contact"
  class="bg-background-theme flex flex-col px-6 pb-6 md:px-12 md:pb-12 items-center md:items-start gap-6 self-stretch z-10 relative"
>
  <div
    class="w-full h-[1.5px] bg-gray-theme absolute top-[-0.5rem] md:top-[-1rem] left-0"
  ></div>
  <div
    class="flex flex-col md:flex-row items-center md:items-start gap-6 md:gap-12 self-stretch text-center md:text-left"
  >
    <div
      class="flex flex-col justify-between items-center md:items-start flex100 self-stretch w-full md:w-[12.5rem]"
    >
      <div class="flex h-12 items-center gap-2">
        <img
          src="{% static 'image/logo.svg' %}"
          alt="Atomic Shield"
          class="h-7"
        />
        <div
          class="text-[1.25rem] md:text-[1.5rem] lg:text-[1.75rem] font-jakartasans font-bold text-blue-theme tracking-[-0.07rem] leading-[100%]"
        >
          Atomic Shield
        </div>
      </div>
      <div class="flex items-center gap-3 mt-4 md:mt-0">
        <a href=""
          ><img
            src="{% static 'image/facebook.svg' %}"
            alt="facebook"
            class="h-[1.5rem]" /></a
        ><a href=""
          ><img
            src="{% static 'image/instagram.svg' %}"
            alt="instagram"
            class="h-[1.5rem]" /></a
        ><a href=""
          ><img
            src="{% static 'image/twitter.svg' %}"
            alt="twitter"
            class="h-[1.5rem]"
        /></a>
      </div>
    </div>
    <div
      class="flex w-full md:w-[12.5rem] flex-col justify-center items-center md:items-start gap-2"
    >
      <div
        class="text-[#D7DFE5] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Company
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        About Us
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Careers
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Press
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Blog
      </div>
    </div>
    <div
      class="flex w-full md:w-[12.5rem] flex-col justify-center items-center md:items-start gap-2"
    >
      <div
        class="text-[#D7DFE5] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Resources
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Help Center
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Community
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Developers
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Documentation
      </div>
    </div>
    <div
      class="flex w-full md:w-[12.5rem] flex-col justify-center items-center md:items-start gap-2"
    >
      <div
        class="text-[#D7DFE5] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Legal
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Privacy Policy
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Terms of Service
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Security
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Compliance
      </div>
    </div>
    <div
      class="flex w-full md:w-[12.5rem] flex-col justify-center items-center md:items-start gap-2"
    >
      <div
        class="text-[#D7DFE5] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Contact
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Support
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Sales
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Partners
      </div>
      <div
        class="text-[#d7dfe58a] font-jakartasans text-[0.9375rem] font-semibold leading-[1.25rem]"
      >
        Affiliates
      </div>
    </div>
  </div>
</footer>
