<footer class="relative bottom-0 w-full mt-32 p-5 text-center border-t">Copyright © 2025 <span className="font-bold bg-gradient-to-r bg-clip-text text-transparent from-purple-600 to-purple-400">Atomic Shield</span></footer>