{% extends "bases/dashboard.jinja" %}
{% block content %}

<div
  class="p-4 rounded-lg transition-all duration-300 bg-purple-200 dark:bg-[#0c0c0c]"
>
  {% include "components/dashboard/breadcrumb.jinja" with current_page="Bans" %}
</div>
<section
    class="flex-1 px-4 rounded-lg transition-all duration-300 bg-purple-200 dark:bg-[#0c0c0c] grid grid-rows-[auto,1fr] my-4"
  >
    <div class="flex flex-wrap w-full flex grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 justify-center py-6 text-center gap-6">
      <div class="bg-[#141414] h-max p-6 flex gap-4 rounded-xl">
        <div
          class="flex items-center justify-center w-12 h-12 rounded-xl bg-zinc-900"
        >
          <i class="fa-solid fa-users text-gray-200 text-lg"></i>
        </div>
        <div class="flex flex-col">
          <p class="text-zinc-400 font-medium text-sm">Total Joined Users</p>
          <p class="text-xl font-semibold text-white counter">78,4567</p>
        </div>
      </div>

      <div class="bg-[#141414] h-max p-6 flex gap-4 rounded-xl">
        <div
          class="flex items-center justify-center w-12 h-12 rounded-xl bg-zinc-900"
        >
          <i class="fa-solid fa-ban text-gray-200 text-lg"></i>
        </div>
        <div class="flex flex-col">
          <p class="text-zinc-400 font-medium text-sm">Detections</p>
          <p class="text-xl font-semibold text-white counter">153,081</p>
        </div>
      </div>
    </div>
</section>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-[#0d0d0d] dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">NAME</th>
        <th scope="col" class="px-3 py-3">GAME SERIAL</th>
        <th scope="col" class="px-3 py-3">BANNED AT</th>
        <th scope="col" class="pl-3 py-3">DURATION</th>
        <th scope="col" class="pl-6 py-3">STATUS</th>
        <th scope="col" class="pl-6 py-3">REASON</th>
        <th scope="col" class="px-6 py-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for ban in bans %}
      <tr
        class="transition-all duration:300 bg-white border-b dark:bg-[#161616] dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-[#212121]"
      >
        <td class="px-6 py-4 font-medium">{{ ban.username }}</td>

        <td
          scope="row"
          class="px-3 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-gray-400 dark:hover:text-white cursor-pointer"
          onclick="navigator.clipboard.writeText('{{ ban.key }}').then(() => iziToast.success({title: 'SUCCESS', message: 'Successfuly key copied to clipboard!'}))"
        >
          <span class="blur-sm hover:blur-0 transition duration-300">{{ ban.game_serial }}</span>
        </td>
        
        <td class="px-1 py-4">{{ ban.banned_at }}</td>
        <td class="px-3 py-4">{{ ban.duration }}</td>
        <td class="px-6 py-4">
          {% if ban.status == 2 %}
            <span class="px-2 border font-medium border-zinc-300 rounded p-1 text-zinc-300 transition-all duration-300 hover:bg-zinc-300 hover:text-black select-none">EXPIRED</span>
          {% elif ban.status == 1 %}
            <span class="px-2 border font-medium border-red-500 rounded p-1 text-red-500 transition-all duration-300 hover:bg-red-500 hover:text-black select-none">BANNED</span>
          {% elif ban.status == 0 %}
            <span class="px-2 border font-medium border-yellow-600 rounded p-1 text-yellow-600 transition-all duration-300 hover:bg-yellow-600 hover:text-black select-none">UNBANNED</span>
          {% endif %}
        </td>
        <td class="px-6 py-4 font-bold">{{ ban.reason }}</td>
        {% if ban.status != 2 %}
          <td class="px-6 py-4 flex">
            <button
              onclick="document.getElementById('target-delete-whitelist').value = '{{ whitelist.id }}'; document.getElementById('target-delete-whitelist-modal-name').textContent = '{{ whitelist.name }}';"
              data-modal-target="delete-whitelist-modal"
              data-modal-toggle="delete-whitelist-modal"
              data-tooltip-target="remove-whitelist-{{ whitelist.id }}"
              data-tooltip-style="dark"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >
              <i
                class="fa-regular fa-circle-check text-[#8c592b] transition-all duration-300 hover:bg-[#8c592b] hover:text-black rounded-full p-1"
              ></i>
            </button>

            <div
              id="remove-whitelist-{{ whitelist.id }}"
              role="tooltip"
              class="z-10 invisible inline-block px-3 py-2 text-sm font-medium text-black bg-[#8c592b] rounded-lg shadow-sm opacity-0 tooltip transition-all duration-300"
            >
              {% if ban.status == 1 %}
                Unban
              {% elif ban.status == 0%}
                Ban
              {% endif %}
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </td>
          {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if bans|length == 0 %}
  <div
    class="transition-all duration:300 bg-white border-b dark:bg-[#161616] dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-[#181818] flex text-center"
  >
    <div
      scope="row"
      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-gray-400 dark:hover:text-white w-full"
    >
      No bans were found
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}