{% extends "bases/dashboard.jinja" %}

{% block content %}
<div
  class="p-4 rounded-lg transition-all duration-300 bg-[#081017]"
>
  {% include "components/dashboard/breadcrumb.jinja" with current_page="Patch Notes" %}
</div>

<div class="w-full bg-[#081017] p-6 rounded-xl mt-4" style="overflow-y: auto">
    <div class="flex items-center mb-4 md:mb-0 gap-3">
      <div>
        <div
          class="w-12 h-12 flex group items-center transition-all justify-center rounded-xl text-white group-hover:text-white bg-[#0e3638] text-white transition-all duration-300"
        >
          <div
            class="flex items-center justify-center relative w-8 h-8 undefined"
          >
            <i class="absolute fas fa-bullhorn opacity-20"></i>
            <i class="absolute fa fa-bullhorn"></i>
          </div>
        </div>
      </div>
      <div class="w-full">
        <div class="flex items-center gap-1">
          <div
            class="flex items-center justify-center mr-3 bg-input rounded-full text-lg bg-transparent"
          >
            <i class="fa fa-brackets-curly text-blue-500"></i>
          </div>
          <h3
            class="min-w-min text-white font-semibold text-sm md:text-lg line-clamp-1"
          >
            Patch Notes
          </h3>
        </div>
        <h4 class="text-gray-400 text-sm">See the latest Updates</h4>
      </div>
    </div>
    {% for patchnote in patchnotes %}
    <div class="mt-4 flex flex-col items-stretch">
      <div
        class="flex items-center gap-3 rounded-xl bg-[#09121e] px-6 py-2.5 md:flex {% if not patchnote.seen %}notification{% endif %}"
        {% if not patchnote.seen %}
        data-id="{{ patchnote.dataid }}"
        {% endif %}
      >
        <div class="flex flex-col w-full">
          <div class="flex">
            <p class="text-white font-medium">{{ patchnote.title }}</p>
            {% if not patchnote.seen %}
            <h1 class="text-black bg-[#01e4f4] rounded-full ml-auto w-4 h-4 text-center"></h1>
            {% endif %}
          </div>
          <p class="text-sm text-gray-400">{{ patchnote.patchnotes|linebreaksbr }}</p>

          <p class="line-clamp-1 text-xs font-semibold text-[#01e4f4]">
              {{ patchnote.author }}. <span class="text-xs text-gray-400"> - {{ patchnote.date }}</span>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <script>
    function makePatchNoteSeen(patchNoteId) {
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '{% url "patchnotes" %}', true);
      xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
      xhr.send(JSON.stringify({seenPatchNote: patchNoteId}));
    }

    const observerCallback = (entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          makePatchNoteSeen(entry.target.dataset.id);
          entry.target.classList.remove('unseen');
          observer.unobserve(entry.target);
        }
      })
    }

    const observer = new IntersectionObserver(observerCallback, {
      rootMargin: '0px',
      threshold: 0.1 // Trigger when 10% of the element is visible
    });

    const notifications = document.querySelectorAll('.notification');
    notifications.forEach(notification => {
      observer.observe(notification);
    });
  </script>
{% endblock content %}