{% extends 'bases/dashboard.jinja' %} {% load static %} {% block content %}
  <div class="p-4 rounded-lg transition-all duration-300 bg-purple-200 dark:bg-[#0c0c0c]">
    {% include 'components/dashboard/breadcrumb.jinja' with current_page='Subscriptions' %}
  </div>
  
  <script src="{% static 'vendor/iziToast/js/iziToast.js' %}"></script>

  <div class="w-full bg-[#0D0D0D] p-6 rounded-xl mt-4" style="overflow-y: auto">
    <div class="flex items-center mb-4 md:mb-0 gap-3">
      <div>
        <div
          class="w-12 h-12 flex group items-center transition-all justify-center rounded-xl text-white group-hover:text-white bg-zinc-900 text-white transition-all duration-300"
        >
          <div
            class="flex items-center justify-center relative w-8 h-8 undefined"
          >
            <i class="absolute fas fa-money-check-dollar opacity-20"></i>
            <i class="absolute fa fa-money-check-dollar"></i>
          </div>
        </div>
      </div>
      <div class="w-full">
        <div class="flex items-center gap-1">
          <div
            class="flex items-center justify-center mr-3 bg-input rounded-full text-lg bg-transparent"
          >
            <i class="fa fa-brackets-curly text-blue-500"></i>
          </div>
          <h3
            class="min-w-min text-white font-semibold text-sm md:text-lg line-clamp-1"
          >
            Subscriptions
          </h3>
        </div>
        <h4 class="text-gray-400 text-sm">See All your EagleAntiCheat Subscriptions</h4>
      </div>
    </div>
    {% for patchnote in patchnotes %}
    <div class="mt-4 flex flex-col items-stretch">
      <div
        class="flex items-center gap-3 rounded-xl bg-[#161616] px-6 py-2.5 md:flex {% if not patchnote.seen %}notification{% endif %}"
        {% if not patchnote.seen %}
        data-id="{{ patchnote.dataid }}"
        {% endif %}
      >
        <div class="flex flex-col w-full">
          <div class="flex">
            <p class="text-white font-medium">{{ patchnote.title }}</p>
            {% if not patchnote.seen %}
            <h1 class="text-black bg-purple-600 rounded-full ml-auto w-4 h-4 text-center"></h1>
            {% endif %}
          </div>
          <p class="text-sm text-gray-400">{{ patchnote.patchnotes|linebreaksbr }}</p>

          <p class="line-clamp-1 text-xs font-semibold text-purple-600">
              {{ patchnote.author }}. <span class="text-xs text-gray-400"> - {{ patchnote.date }}</span>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-6">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-[#0d0d0d] dark:text-gray-400">
        <tr>
          <th scope="col" class="pl-6 py-3">Type</th>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Started At</th>
          <th scope="col" class="px-6 py-3">Expires At</th>
          <th scope="col" class="px-6 py-3">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for subscription in subscriptions %}
          <tr class="transition-all duration:300 bg-white border-b dark:bg-[#161616] dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-[#212121]">
            <td class="px-6 py-4">
                {% if subscription.type == 1 %}
                  <div class="border w-16 text-center font-medium border-[#E87C00] rounded p-1 text-[#E87C00] transition-all duration-300 hover:bg-[#E87C00] hover:text-black select-none">MTA:SA</div>
                  {% elif subscription.type == 2 %}
                  <div class="border w-16 text-center font-medium border-[#4B6EA9] rounded p-1 text-[#4B6EA9] transition-all duration-300 hover:bg-[#4B6EA9] hover:text-black select-none">FiveM</div>
                {% endif %}
              </td>
            <td class="px-6 py-4">{{ subscription.name }}</td>
            <td class="px-6 py-4">{{ subscription.started_at }}</td>
            <td class="px-6 py-4">{{ subscription.expires_at }}</td>
            {% if subscription.status == 0 %}
                <td class="px-6 py-4"><span class="px-2 border font-medium border-green-500 rounded p-1 text-green-500 transition-all duration-300 hover:bg-green-500 hover:text-black select-none">Active</span></td>
            {% elif subscription.status == 1 %}
            <td class="px-6 py-4"><span class="px-2 border font-medium border-red-500 rounded p-1 text-red-500 transition-all duration-300 hover:bg-red-500 hover:text-black select-none">Inactive</span></td>
            {% elif subscription.status == 2 %}
            <td class="px-6 py-4"><span class="px-2 border font-medium border-yellow-600 rounded p-1 text-yellow-600 transition-all duration-300 hover:bg-yellow-600 hover:text-black select-none">Expired</span></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if subscriptions|length == 0 %}
        <div class="transition-all duration:300 bg-white border-b dark:bg-[#161616] dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-[#181818] flex text-center">
          <div scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-gray-400 dark:hover:text-white w-full">0 subscriptions</div>
        </div>
      {% endif %}
  </div>
{% endblock %}
