{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{% static '/image/logo-ico.svg' %}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atomic Shield - Home</title>

    <link
      rel="stylesheet"
      href="{% static 'vendor/iziToast/css/iziToast.css' %}"
    />
    <script src="{% static 'vendor/iziToast/js/iziToast.js' %}"></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&amp;display=swap"
      rel="stylesheet"
    />

    <meta name="description" content="Atomic Shield" data-react-helmet="true" />
    <meta
      name="keywords"
      content="Atomic Shield, AntiCheat Fivem, Fivem Shield, Fivem"
      data-react-helmet="true"
    />
    
    <script src="{% static "vendor/tailwindcss.css" %}"></script>

    <style type="text/css" data-vite-dev-id="C:/Users/hosni/Desktop/AtomicShieldWebsite/src/index.css">*, ::before, ::after {
      --tw-border-spacing-x: 0;
      --tw-border-spacing-y: 0;
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0;
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-pan-x:  ;
      --tw-pan-y:  ;
      --tw-pinch-zoom:  ;
      --tw-scroll-snap-strictness: proximity;
      --tw-gradient-from-position:  ;
      --tw-gradient-via-position:  ;
      --tw-gradient-to-position:  ;
      --tw-ordinal:  ;
      --tw-slashed-zero:  ;
      --tw-numeric-figure:  ;
      --tw-numeric-spacing:  ;
      --tw-numeric-fraction:  ;
      --tw-ring-inset:  ;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-color: rgb(59 130 246 / 0.5);
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-ring-shadow: 0 0 #0000;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-colored: 0 0 #0000;
      --tw-blur:  ;
      --tw-brightness:  ;
      --tw-contrast:  ;
      --tw-grayscale:  ;
      --tw-hue-rotate:  ;
      --tw-invert:  ;
      --tw-saturate:  ;
      --tw-sepia:  ;
      --tw-drop-shadow:  ;
      --tw-backdrop-blur:  ;
      --tw-backdrop-brightness:  ;
      --tw-backdrop-contrast:  ;
      --tw-backdrop-grayscale:  ;
      --tw-backdrop-hue-rotate:  ;
      --tw-backdrop-invert:  ;
      --tw-backdrop-opacity:  ;
      --tw-backdrop-saturate:  ;
      --tw-backdrop-sepia:  ;
      --tw-contain-size:  ;
      --tw-contain-layout:  ;
      --tw-contain-paint:  ;
      --tw-contain-style:  ;
    }
    
    ::backdrop {
      --tw-border-spacing-x: 0;
      --tw-border-spacing-y: 0;
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0;
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-pan-x:  ;
      --tw-pan-y:  ;
      --tw-pinch-zoom:  ;
      --tw-scroll-snap-strictness: proximity;
      --tw-gradient-from-position:  ;
      --tw-gradient-via-position:  ;
      --tw-gradient-to-position:  ;
      --tw-ordinal:  ;
      --tw-slashed-zero:  ;
      --tw-numeric-figure:  ;
      --tw-numeric-spacing:  ;
      --tw-numeric-fraction:  ;
      --tw-ring-inset:  ;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-color: rgb(59 130 246 / 0.5);
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-ring-shadow: 0 0 #0000;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-colored: 0 0 #0000;
      --tw-blur:  ;
      --tw-brightness:  ;
      --tw-contrast:  ;
      --tw-grayscale:  ;
      --tw-hue-rotate:  ;
      --tw-invert:  ;
      --tw-saturate:  ;
      --tw-sepia:  ;
      --tw-drop-shadow:  ;
      --tw-backdrop-blur:  ;
      --tw-backdrop-brightness:  ;
      --tw-backdrop-contrast:  ;
      --tw-backdrop-grayscale:  ;
      --tw-backdrop-hue-rotate:  ;
      --tw-backdrop-invert:  ;
      --tw-backdrop-opacity:  ;
      --tw-backdrop-saturate:  ;
      --tw-backdrop-sepia:  ;
      --tw-contain-size:  ;
      --tw-contain-layout:  ;
      --tw-contain-paint:  ;
      --tw-contain-style:  ;
    }/*
    ! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
    *//*
    1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
    2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
    */
    
    *,
    ::before,
    ::after {
      box-sizing: border-box; /* 1 */
      border-width: 0; /* 2 */
      border-style: solid; /* 2 */
      border-color: #e5e7eb; /* 2 */
    }
    
    ::before,
    ::after {
      --tw-content: '';
    }
    
    /*
    1. Use a consistent sensible line-height in all browsers.
    2. Prevent adjustments of font size after orientation changes in iOS.
    3. Use a more readable tab size.
    4. Use the user's configured `sans` font-family by default.
    5. Use the user's configured `sans` font-feature-settings by default.
    6. Use the user's configured `sans` font-variation-settings by default.
    7. Disable tap highlights on iOS
    */
    
    html,
    :host {
      line-height: 1.5; /* 1 */
      -webkit-text-size-adjust: 100%; /* 2 */
      -moz-tab-size: 4; /* 3 */
      -o-tab-size: 4;
         tab-size: 4; /* 3 */
      font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
      font-feature-settings: normal; /* 5 */
      font-variation-settings: normal; /* 6 */
      -webkit-tap-highlight-color: transparent; /* 7 */
    }
    
    /*
    1. Remove the margin in all browsers.
    2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
    */
    
    body {
      margin: 0; /* 1 */
      line-height: inherit; /* 2 */
    }
    
    /*
    1. Add the correct height in Firefox.
    2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
    3. Ensure horizontal rules are visible by default.
    */
    
    hr {
      height: 0; /* 1 */
      color: inherit; /* 2 */
      border-top-width: 1px; /* 3 */
    }
    
    /*
    Add the correct text decoration in Chrome, Edge, and Safari.
    */
    
    abbr:where([title]) {
      -webkit-text-decoration: underline dotted;
              text-decoration: underline dotted;
    }
    
    /*
    Remove the default font size and weight for headings.
    */
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: inherit;
      font-weight: inherit;
    }
    
    /*
    Reset links to optimize for opt-in styling instead of opt-out.
    */
    
    a {
      color: inherit;
      text-decoration: inherit;
    }
    
    /*
    Add the correct font weight in Edge and Safari.
    */
    
    b,
    strong {
      font-weight: bolder;
    }
    
    /*
    1. Use the user's configured `mono` font-family by default.
    2. Use the user's configured `mono` font-feature-settings by default.
    3. Use the user's configured `mono` font-variation-settings by default.
    4. Correct the odd `em` font sizing in all browsers.
    */
    
    code,
    kbd,
    samp,
    pre {
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
      font-feature-settings: normal; /* 2 */
      font-variation-settings: normal; /* 3 */
      font-size: 1em; /* 4 */
    }
    
    /*
    Add the correct font size in all browsers.
    */
    
    small {
      font-size: 80%;
    }
    
    /*
    Prevent `sub` and `sup` elements from affecting the line height in all browsers.
    */
    
    sub,
    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
    }
    
    sub {
      bottom: -0.25em;
    }
    
    sup {
      top: -0.5em;
    }
    
    /*
    1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
    2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
    3. Remove gaps between table borders by default.
    */
    
    table {
      text-indent: 0; /* 1 */
      border-color: inherit; /* 2 */
      border-collapse: collapse; /* 3 */
    }
    
    /*
    1. Change the font styles in all browsers.
    2. Remove the margin in Firefox and Safari.
    3. Remove default padding in all browsers.
    */
    
    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit; /* 1 */
      font-feature-settings: inherit; /* 1 */
      font-variation-settings: inherit; /* 1 */
      font-size: 100%; /* 1 */
      font-weight: inherit; /* 1 */
      line-height: inherit; /* 1 */
      letter-spacing: inherit; /* 1 */
      color: inherit; /* 1 */
      margin: 0; /* 2 */
      padding: 0; /* 3 */
    }
    
    /*
    Remove the inheritance of text transform in Edge and Firefox.
    */
    
    button,
    select {
      text-transform: none;
    }
    
    /*
    1. Correct the inability to style clickable types in iOS and Safari.
    2. Remove default button styles.
    */
    
    button,
    input:where([type='button']),
    input:where([type='reset']),
    input:where([type='submit']) {
      -webkit-appearance: button; /* 1 */
      background-color: transparent; /* 2 */
      background-image: none; /* 2 */
    }
    
    /*
    Use the modern Firefox focus style for all focusable elements.
    */
    
    :-moz-focusring {
      outline: auto;
    }
    
    /*
    Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
    */
    
    :-moz-ui-invalid {
      box-shadow: none;
    }
    
    /*
    Add the correct vertical alignment in Chrome and Firefox.
    */
    
    progress {
      vertical-align: baseline;
    }
    
    /*
    Correct the cursor style of increment and decrement buttons in Safari.
    */
    
    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      height: auto;
    }
    
    /*
    1. Correct the odd appearance in Chrome and Safari.
    2. Correct the outline style in Safari.
    */
    
    [type='search'] {
      -webkit-appearance: textfield; /* 1 */
      outline-offset: -2px; /* 2 */
    }
    
    /*
    Remove the inner padding in Chrome and Safari on macOS.
    */
    
    ::-webkit-search-decoration {
      -webkit-appearance: none;
    }
    
    /*
    1. Correct the inability to style clickable types in iOS and Safari.
    2. Change font properties to `inherit` in Safari.
    */
    
    ::-webkit-file-upload-button {
      -webkit-appearance: button; /* 1 */
      font: inherit; /* 2 */
    }
    
    /*
    Add the correct display in Chrome and Safari.
    */
    
    summary {
      display: list-item;
    }
    
    /*
    Removes the default spacing and border for appropriate elements.
    */
    
    blockquote,
    dl,
    dd,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    figure,
    p,
    pre {
      margin: 0;
    }
    
    fieldset {
      margin: 0;
      padding: 0;
    }
    
    legend {
      padding: 0;
    }
    
    ol,
    ul,
    menu {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    /*
    Reset default styling for dialogs.
    */
    dialog {
      padding: 0;
    }
    
    /*
    Prevent resizing textareas horizontally by default.
    */
    
    textarea {
      resize: vertical;
    }
    
    /*
    1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
    2. Set the default placeholder color to the user's configured gray 400 color.
    */
    
    input::-moz-placeholder, textarea::-moz-placeholder {
      opacity: 1; /* 1 */
      color: #9ca3af; /* 2 */
    }
    
    input::placeholder,
    textarea::placeholder {
      opacity: 1; /* 1 */
      color: #9ca3af; /* 2 */
    }
    
    /*
    Set the default cursor for buttons.
    */
    
    button,
    [role="button"] {
      cursor: pointer;
    }
    
    /*
    Make sure disabled buttons don't get the pointer cursor.
    */
    :disabled {
      cursor: default;
    }
    
    /*
    1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
    2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
       This can trigger a poorly considered lint error in some tools but is included by design.
    */
    
    img,
    svg,
    video,
    canvas,
    audio,
    iframe,
    embed,
    object {
      display: block; /* 1 */
      vertical-align: middle; /* 2 */
    }
    
    /*
    Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
    */
    
    img,
    video {
      max-width: 100%;
      height: auto;
    }
    
    /* Make elements with the HTML hidden attribute stay hidden by default */
    [hidden]:where(:not([hidden="until-found"])) {
      display: none;
    }
    .absolute {
      position: absolute;
    }
    .relative {
      position: relative;
    }
    .sticky {
      position: sticky;
    }
    .inset-y-0 {
      top: 0px;
      bottom: 0px;
    }
    .left-0 {
      left: 0px;
    }
    .left-2 {
      left: 0.5rem;
    }
    .right-0 {
      right: 0px;
    }
    .right-3 {
      right: 0.75rem;
    }
    .top-0 {
      top: 0px;
    }
    .top-\[-0\.5rem\] {
      top: -0.5rem;
    }
    .z-10 {
      z-index: 10;
    }
    .z-20 {
      z-index: 20;
    }
    .z-50 {
      z-index: 50;
    }
    .mx-4 {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .mx-auto {
      margin-left: auto;
      margin-right: auto;
    }
    .my-4 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .mb-7 {
      margin-bottom: 1.75rem;
    }
    .mr-3 {
      margin-right: 0.75rem;
    }
    .mt-0 {
      margin-top: 0px;
    }
    .mt-4 {
      margin-top: 1rem;
    }
    .mt-5 {
      margin-top: 1.25rem;
    }
    .flex {
      display: flex;
    }
    .hidden {
      display: none;
    }
    .h-12 {
      height: 3rem;
    }
    .h-4 {
      height: 1rem;
    }
    .h-5 {
      height: 1.25rem;
    }
    .h-64 {
      height: 16rem;
    }
    .h-7 {
      height: 1.75rem;
    }
    .h-\[0\.1rem\] {
      height: 0.1rem;
    }
    .h-\[1\.5px\] {
      height: 1.5px;
    }
    .h-\[1\.5rem\] {
      height: 1.5rem;
    }
    .h-\[1px\] {
      height: 1px;
    }
    .h-\[20rem\] {
      height: 20rem;
    }
    .h-auto {
      height: auto;
    }
    .h-full {
      height: 100%;
    }
    .min-h-\[43rem\] {
      min-height: 43rem;
    }
    .min-h-screen {
      min-height: 100vh;
    }
    .w-12 {
      width: 3rem;
    }
    .w-4 {
      width: 1rem;
    }
    .w-5 {
      width: 1.25rem;
    }
    .w-8 {
      width: 2rem;
    }
    .w-\[0\.0938rem\] {
      width: 0.0938rem;
    }
    .w-\[0\.1875rem\] {
      width: 0.1875rem;
    }
    .w-\[100\%\] {
      width: 100%;
    }
    .w-\[4rem\] {
      width: 4rem;
    }
    .w-\[57\%\] {
      width: 57%;
    }
    .w-\[90\%\] {
      width: 90%;
    }
    .w-full {
      width: 100%;
    }
    .min-w-72 {
      min-width: 18rem;
    }
    .max-w-lg {
      max-width: 32rem;
    }
    .max-w-screen-xl {
      max-width: 1280px;
    }
    .flex-1 {
      flex: 1 1 0%;
    }
    @keyframes pulse {
    
      50% {
        opacity: .5;
      }
    }
    .animate-pulse {
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
    .cursor-pointer {
      cursor: pointer;
    }
    .flex-row {
      flex-direction: row;
    }
    .flex-col {
      flex-direction: column;
    }
    .flex-wrap {
      flex-wrap: wrap;
    }
    .items-start {
      align-items: flex-start;
    }
    .items-center {
      align-items: center;
    }
    .items-baseline {
      align-items: baseline;
    }
    .justify-start {
      justify-content: flex-start;
    }
    .justify-center {
      justify-content: center;
    }
    .justify-between {
      justify-content: space-between;
    }
    .gap-1 {
      gap: 0.25rem;
    }
    .gap-16 {
      gap: 4rem;
    }
    .gap-2 {
      gap: 0.5rem;
    }
    .gap-3 {
      gap: 0.75rem;
    }
    .gap-4 {
      gap: 1rem;
    }
    .gap-5 {
      gap: 1.25rem;
    }
    .gap-6 {
      gap: 1.5rem;
    }
    .gap-8 {
      gap: 2rem;
    }
    .self-stretch {
      align-self: stretch;
    }
    .overflow-hidden {
      overflow: hidden;
    }
    .text-ellipsis {
      text-overflow: ellipsis;
    }
    .whitespace-nowrap {
      white-space: nowrap;
    }
    .rounded-3xl {
      border-radius: 1.5rem;
    }
    .rounded-\[1\.25rem\] {
      border-radius: 1.25rem;
    }
    .rounded-\[1\.375rem\] {
      border-radius: 1.375rem;
    }
    .rounded-full {
      border-radius: 9999px;
    }
    .rounded-lg {
      border-radius: 0.5rem;
    }
    .rounded-xl {
      border-radius: 0.75rem;
    }
    .border {
      border-width: 1px;
    }
    .border-\[\#91a6b633\] {
      border-color: #91a6b633;
    }
    .border-transparent {
      border-color: transparent;
    }
    .bg-\[\#00000067\] {
      background-color: #00000067;
    }
    .bg-\[\#08101777\] {
      background-color: #08101777;
    }
    .bg-\[\#082134\] {
      --tw-bg-opacity: 1;
      background-color: rgb(8 33 52 / var(--tw-bg-opacity, 1));
    }
    .bg-\[\#121920\] {
      --tw-bg-opacity: 1;
      background-color: rgb(18 25 32 / var(--tw-bg-opacity, 1));
    }
    .bg-\[\#d6dfe633\] {
      background-color: #d6dfe633;
    }
    .bg-background-theme {
      --tw-bg-opacity: 1;
      background-color: rgb(8 16 23 / var(--tw-bg-opacity, 1));
    }
    .bg-blue-theme {
      --tw-bg-opacity: 1;
      background-color: rgb(0 167 253 / var(--tw-bg-opacity, 1));
    }
    .bg-gray-theme {
      --tw-bg-opacity: 1;
      background-color: rgb(18 25 32 / var(--tw-bg-opacity, 1));
    }
    .bg-gradient-to-l {
      background-image: linear-gradient(to left, var(--tw-gradient-stops));
    }
    .bg-gradient-to-r {
      background-image: linear-gradient(to right, var(--tw-gradient-stops));
    }
    .from-background-theme {
      --tw-gradient-from: #081017 var(--tw-gradient-from-position);
      --tw-gradient-to: rgb(8 16 23 / 0) var(--tw-gradient-to-position);
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    }
    .via-background-theme {
      --tw-gradient-to: rgb(8 16 23 / 0)  var(--tw-gradient-to-position);
      --tw-gradient-stops: var(--tw-gradient-from), #081017 var(--tw-gradient-via-position), var(--tw-gradient-to);
    }
    .to-transparent {
      --tw-gradient-to: transparent var(--tw-gradient-to-position);
    }
    .p-2 {
      padding: 0.5rem;
    }
    .p-6 {
      padding: 1.5rem;
    }
    .p-8 {
      padding: 2rem;
    }
    .px-12 {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .px-2 {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .px-3 {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    .px-4 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .px-6 {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .px-8 {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .py-1 {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
    .py-12 {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    .py-2 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    .py-3 {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
    .py-4 {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .py-8 {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .pb-2 {
      padding-bottom: 0.5rem;
    }
    .pb-24 {
      padding-bottom: 6rem;
    }
    .pb-6 {
      padding-bottom: 1.5rem;
    }
    .pt-2 {
      padding-top: 0.5rem;
    }
    .pt-3 {
      padding-top: 0.75rem;
    }
    .pt-4 {
      padding-top: 1rem;
    }
    .pt-5 {
      padding-top: 1.25rem;
    }
    .pt-6 {
      padding-top: 1.5rem;
    }
    .pt-8 {
      padding-top: 2rem;
    }
    .text-center {
      text-align: center;
    }
    .font-jakartasans {
      font-family: Plus Jakarta Sans, serif;
    }
    .font-publicsans {
      font-family: Public Sans, serif;
    }
    .text-5xl {
      font-size: 3rem;
      line-height: 1;
    }
    .text-\[0\.8125rem\] {
      font-size: 0.8125rem;
    }
    .text-\[0\.9375rem\] {
      font-size: 0.9375rem;
    }
    .text-\[1\.25rem\] {
      font-size: 1.25rem;
    }
    .text-\[1\.5rem\] {
      font-size: 1.5rem;
    }
    .text-\[1\.75rem\] {
      font-size: 1.75rem;
    }
    .text-\[1rem\] {
      font-size: 1rem;
    }
    .text-\[2rem\] {
      font-size: 2rem;
    }
    .text-\[4rem\] {
      font-size: 4rem;
    }
    .text-base {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .text-sm {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    .text-xl {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    .text-xs {
      font-size: 0.75rem;
      line-height: 1rem;
    }
    .font-bold {
      font-weight: 700;
    }
    .font-medium {
      font-weight: 500;
    }
    .font-normal {
      font-weight: 400;
    }
    .font-semibold {
      font-weight: 600;
    }
    .leading-4 {
      line-height: 1rem;
    }
    .leading-5 {
      line-height: 1.25rem;
    }
    .leading-6 {
      line-height: 1.5rem;
    }
    .leading-8 {
      line-height: 2rem;
    }
    .leading-\[1\.25rem\] {
      line-height: 1.25rem;
    }
    .leading-\[1\.5rem\] {
      line-height: 1.5rem;
    }
    .leading-\[100\%\] {
      line-height: 100%;
    }
    .leading-\[1rem\] {
      line-height: 1rem;
    }
    .leading-\[2rem\] {
      line-height: 2rem;
    }
    .leading-\[3\.25rem\] {
      line-height: 3.25rem;
    }
    .leading-\[4\.25rem\] {
      line-height: 4.25rem;
    }
    .tracking-\[-0\.0075rem\] {
      letter-spacing: -0.0075rem;
    }
    .tracking-\[-0\.06rem\] {
      letter-spacing: -0.06rem;
    }
    .tracking-\[-0\.07rem\] {
      letter-spacing: -0.07rem;
    }
    .tracking-\[-0\.08rem\] {
      letter-spacing: -0.08rem;
    }
    .text-\[\#00A7FD\] {
      --tw-text-opacity: 1;
      color: rgb(0 167 253 / var(--tw-text-opacity, 1));
    }
    .text-\[\#D7DFE5\] {
      --tw-text-opacity: 1;
      color: rgb(215 223 229 / var(--tw-text-opacity, 1));
    }
    .text-\[\#d1e0eb9e\] {
      color: #d1e0eb9e;
    }
    .text-\[\#d1e2eb66\] {
      color: #d1e2eb66;
    }
    .text-\[\#d1e2eb9e\] {
      color: #d1e2eb9e;
    }
    .text-\[\#d6dfe69e\] {
      color: #d6dfe69e;
    }
    .text-\[\#d7dfe58a\] {
      color: #d7dfe58a;
    }
    .text-background-theme {
      --tw-text-opacity: 1;
      color: rgb(8 16 23 / var(--tw-text-opacity, 1));
    }
    .text-blue-theme {
      --tw-text-opacity: 1;
      color: rgb(0 167 253 / var(--tw-text-opacity, 1));
    }
    .text-white-gray {
      --tw-text-opacity: 1;
      color: rgb(215 223 229 / var(--tw-text-opacity, 1));
    }
    .opacity-0 {
      opacity: 0;
    }
    .opacity-60 {
      opacity: 0.6;
    }
    .blur {
      --tw-blur: blur(8px);
      filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    }
    .drop-shadow-\[0rem_0rem_1rem_\#47c2ff5a\] {
      --tw-drop-shadow: drop-shadow(0rem 0rem 1rem #47c2ff5a);
      filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    }
    .filter {
      filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    }
    .backdrop-blur-3xl {
      --tw-backdrop-blur: blur(64px);
      -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
      backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    }
    .backdrop-blur-md {
      --tw-backdrop-blur: blur(12px);
      -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
      backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    }
    .transition {
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
    .transition-all {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
    .duration-300 {
      transition-duration: 300ms;
    }
    .ease-in-out {
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .noselect {
        /* cursor: default; */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
    @keyframes typing {
        0% {
          transform: translateX(-100%);
          opacity: 0;
        }
    
        30% {
          transform: translateX(5%);
          opacity: 1;
        }
    
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
    .animate-text {
        display: inline-block;
        animation: typing 4s ease-out forwards;
      }
    @keyframes blink {
        50% {
          border-color: transparent;
        }
      }
    .animate-text span {
        position: relative;
        display: inline-block;
        animation: typing 4s ease-out forwards, blink 0.75s step-end infinite;
      }
    @keyframes customFadeIn {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
    
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    .animate-custom-fadeIn {
        animation: customFadeIn 0.5s ease-out;
      }
    .flex100 {
        flex: 1 0 0;
      }
    .card-shine-effect {
        --shine-deg: 45deg;
        border-radius: 0.875rem;
        background-repeat: no-repeat;
        background-position: -100% 0, 0 0;
        background-image: linear-gradient(
          var(--shine-deg),
          transparent 20%,
          transparent 40%,
          rgb(68, 68, 68, 0.2) 50%,
          rgb(68, 68, 68, 0.2) 55%,
          transparent 70%,
          transparent 100%
        );
        background-size: 250% 250%, 100% 100%;
      }
    .card-shine-effect:hover {
        background-position: 200% 0, 0 0;
        transition-duration: 1.5s;
      }
    .card-wrapper {
      position: relative;
      overflow: hidden;
      border-radius: 1rem;
      background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
      --tw-gradient-from: #121920 var(--tw-gradient-from-position);
      --tw-gradient-to: rgb(18 25 32 / 0) var(--tw-gradient-to-position);
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
      --tw-gradient-to: #121920 var(--tw-gradient-to-position);
    }
    .card-wrapper::before {
          background: conic-gradient(
            rgba(0, 167, 253, 0) 0deg,
            rgba(0, 167, 253, 0.8) 0deg,
            transparent 80deg
          );
          position: absolute;
          left: -35%;
          top: -35%;
          height: 170%;
          width: 170%;
        }
    @keyframes border-spin {
    
      100% {
        transform: rotate(-360deg);
      }
    }
    .card-wrapper::before {
      animation: border-spin 7s linear infinite;
      --tw-content: '';
      content: var(--tw-content);
    }
    .card-content {
      position: absolute;
      left: 1px;
      top: 1px;
      height: calc(100% - 2px);
      width: calc(100% - 2px);
      border-radius: 1rem;
    }
    .scrollbar-hidden::-webkit-scrollbar {
          display: none; 
        }
    .scrollbar-hidden {
          -ms-overflow-style: none;
          /* scrollbar-width: none;  */
        }
    @keyframes slideLeft {
          0% {
              transform: translateX(-20px) scale(0.95); 
              opacity: 0;
          }
          50% {
              transform: translateX(10px) scale(1.05); 
              opacity: 0.7;
          }
          100% {
              transform: translateX(0) scale(1);
              opacity: 1;
          }
      }
    .animate-slideLeft {
        animation: slideLeft 0.8s ease-out; 
      }
    .pricing-text {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    .animation-pcicing {
      position: relative;
      overflow: hidden;
      border-radius: 1rem;
      background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
      --tw-gradient-from: #334155 var(--tw-gradient-from-position);
      --tw-gradient-to: rgb(51 65 85 / 0) var(--tw-gradient-to-position);
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
      --tw-gradient-to: #1e293b var(--tw-gradient-to-position);
    }
    .animation-pcicing::before {
        background: conic-gradient(
          rgba(0, 167, 253, 0) 0deg,
          rgba(0, 167, 253, 0.8) 0deg,
          transparent 80deg
        );
        position: absolute;
        left: -35%;
        top: -35%;
        height: 170%;
        width: 170%;
      }
    @keyframes border-spin {
    
      100% {
        transform: rotate(-360deg);
      }
    }
    .animation-pcicing::before {
      animation: border-spin 7s linear infinite;
      --tw-content: '';
      content: var(--tw-content);
    }
    @keyframes smooth-scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-100%));
        }
      }
    .animate-scroll {
        display: flex;
        animation: smooth-scroll 60s linear infinite;
        will-change: transform;
      }
    .animate-scroll:hover {
        animation-play-state: paused; 
      }
    .placeholder\:text-\[\#d1e2eb66\]::-moz-placeholder {
      color: #d1e2eb66;
    }
    .placeholder\:text-\[\#d1e2eb66\]::placeholder {
      color: #d1e2eb66;
    }
    .hover\:scale-105:hover {
      --tw-scale-x: 1.05;
      --tw-scale-y: 1.05;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    .hover\:border-blue-theme:hover {
      --tw-border-opacity: 1;
      border-color: rgb(0 167 253 / var(--tw-border-opacity, 1));
    }
    .hover\:bg-blue-theme:hover {
      --tw-bg-opacity: 1;
      background-color: rgb(0 167 253 / var(--tw-bg-opacity, 1));
    }
    .hover\:bg-transparent:hover {
      background-color: transparent;
    }
    .hover\:text-background-theme:hover {
      --tw-text-opacity: 1;
      color: rgb(8 16 23 / var(--tw-text-opacity, 1));
    }
    .hover\:text-blue-theme:hover {
      --tw-text-opacity: 1;
      color: rgb(0 167 253 / var(--tw-text-opacity, 1));
    }
    .hover\:text-white-gray:hover {
      --tw-text-opacity: 1;
      color: rgb(215 223 229 / var(--tw-text-opacity, 1));
    }
    .hover\:drop-shadow-\[0rem_0rem_1rem_\#00A7FD\]:hover {
      --tw-drop-shadow: drop-shadow(0rem 0rem 1rem #00A7FD);
      filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    }
    .focus\:outline-none:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
    @media (min-width: 640px) {
    
      .sm\:mx-5 {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
      }
    
      .sm\:mx-6 {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
    
      .sm\:h-5 {
        height: 1.25rem;
      }
    
      .sm\:w-1\/2 {
        width: 50%;
      }
    
      .sm\:w-32 {
        width: 8rem;
      }
    
      .sm\:w-\[40\%\] {
        width: 40%;
      }
    
      .sm\:w-\[40rem\] {
        width: 40rem;
      }
    
      .sm\:w-\[calc\(33\.33\%-1\.25rem\)\] {
        width: calc(33.33% - 1.25rem);
      }
    
      .sm\:w-full {
        width: 100%;
      }
    
      .sm\:max-w-\[400px\] {
        max-width: 400px;
      }
    
      .sm\:flex-row {
        flex-direction: row;
      }
    
      .sm\:flex-wrap {
        flex-wrap: wrap;
      }
    
      .sm\:gap-1 {
        gap: 0.25rem;
      }
    
      .sm\:gap-12 {
        gap: 3rem;
      }
    
      .sm\:gap-3 {
        gap: 0.75rem;
      }
    
      .sm\:gap-6 {
        gap: 1.5rem;
      }
    
      .sm\:px-2 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    
      .sm\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    
      .sm\:py-12 {
        padding-top: 3rem;
        padding-bottom: 3rem;
      }
    
      .sm\:py-3 {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
      }
    
      .sm\:pt-6 {
        padding-top: 1.5rem;
      }
    
      .sm\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    
      .sm\:text-\[0\.4375rem\] {
        font-size: 0.4375rem;
      }
    
      .sm\:text-\[1\.5rem\] {
        font-size: 1.5rem;
      }
    
      .sm\:text-\[2\.5rem\] {
        font-size: 2.5rem;
      }
    
      .sm\:text-\[2rem\] {
        font-size: 2rem;
      }
    
      .sm\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    
      .sm\:text-sm {
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    
      .sm\:leading-8 {
        line-height: 2rem;
      }
    
      .sm\:leading-\[3\.25rem\] {
        line-height: 3.25rem;
      }
    }
    @media (min-width: 768px) {
    
      .md\:top-0 {
        top: 0px;
      }
    
      .md\:top-\[-1rem\] {
        top: -1rem;
      }
    
      .md\:mx-12 {
        margin-left: 3rem;
        margin-right: 3rem;
      }
    
      .md\:mx-2 {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    
      .md\:mx-9 {
        margin-left: 2.25rem;
        margin-right: 2.25rem;
      }
    
      .md\:mt-0 {
        margin-top: 0px;
      }
    
      .md\:mt-10 {
        margin-top: 2.5rem;
      }
    
      .md\:mt-9 {
        margin-top: 2.25rem;
      }
    
      .md\:flex {
        display: flex;
      }
    
      .md\:h-6 {
        height: 1.5rem;
      }
    
      .md\:h-\[30rem\] {
        height: 30rem;
      }
    
      .md\:w-\[12\.5rem\] {
        width: 12.5rem;
      }
    
      .md\:w-\[30rem\] {
        width: 30rem;
      }
    
      .md\:w-\[64rem\] {
        width: 64rem;
      }
    
      .md\:w-\[90\%\] {
        width: 90%;
      }
    
      .md\:w-auto {
        width: auto;
      }
    
      .md\:w-full {
        width: 100%;
      }
    
      .md\:flex-row {
        flex-direction: row;
      }
    
      .md\:items-start {
        align-items: flex-start;
      }
    
      .md\:gap-12 {
        gap: 3rem;
      }
    
      .md\:gap-2 {
        gap: 0.5rem;
      }
    
      .md\:gap-32 {
        gap: 8rem;
      }
    
      .md\:gap-6 {
        gap: 1.5rem;
      }
    
      .md\:gap-8 {
        gap: 2rem;
      }
    
      .md\:px-12 {
        padding-left: 3rem;
        padding-right: 3rem;
      }
    
      .md\:px-24 {
        padding-left: 6rem;
        padding-right: 6rem;
      }
    
      .md\:px-3 {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
    
      .md\:py-6 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
    
      .md\:pb-12 {
        padding-bottom: 3rem;
      }
    
      .md\:pt-12 {
        padding-top: 3rem;
      }
    
      .md\:pt-16 {
        padding-top: 4rem;
      }
    
      .md\:text-left {
        text-align: left;
      }
    
      .md\:text-\[0\.875rem\] {
        font-size: 0.875rem;
      }
    
      .md\:text-\[1\.5rem\] {
        font-size: 1.5rem;
      }
    
      .md\:text-\[1\.75rem\] {
        font-size: 1.75rem;
      }
    
      .md\:text-\[3rem\] {
        font-size: 3rem;
      }
    
      .md\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    @media (min-width: 1024px) {
    
      .lg\:mx-24 {
        margin-left: 6rem;
        margin-right: 6rem;
      }
    
      .lg\:h-7 {
        height: 1.75rem;
      }
    
      .lg\:w-1\/3 {
        width: 33.333333%;
      }
    
      .lg\:w-\[64rem\] {
        width: 64rem;
      }
    
      .lg\:w-\[85\%\] {
        width: 85%;
      }
    
      .lg\:w-full {
        width: 100%;
      }
    
      .lg\:gap-12 {
        gap: 3rem;
      }
    
      .lg\:gap-24 {
        gap: 6rem;
      }
    
      .lg\:gap-4 {
        gap: 1rem;
      }
    
      .lg\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    
      .lg\:py-12 {
        padding-top: 3rem;
        padding-bottom: 3rem;
      }
    
      .lg\:py-2 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    
      .lg\:pt-12 {
        padding-top: 3rem;
      }
    
      .lg\:text-5xl {
        font-size: 3rem;
        line-height: 1;
      }
    
      .lg\:text-\[1\.5rem\] {
        font-size: 1.5rem;
      }
    
      .lg\:text-\[1\.75rem\] {
        font-size: 1.75rem;
      }
    
      .lg\:text-\[4rem\] {
        font-size: 4rem;
      }
    
      .lg\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    @media (min-width: 1280px) {
    
      .xl\:w-1\/4 {
        width: 25%;
      }
    }
    @media (min-width: 1536px) {
    
      .\32xl\:text-\[4\.5rem\] {
        font-size: 4.5rem;
      }
    }
    @media (prefers-color-scheme: dark) {
    
      .dark\:text-white {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity, 1));
      }
    }
    
    </style>
  </head>

  <body class="scrollbar-hidden">
    {% block content %}
    {% endblock content %}

    <script>
      {% if messages %}
        {% for message in messages %}
          iziToast.{{ message.tags }}({
              title: '{{ message.level_tag|capfirst }}',
              message: '{{ message }}',
          });
        {% endfor %}
      {% endif %}
    </script>
  </body>
</html>