{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'vendor/iziToast/css/iziToast.css' %}">
    <script src="{% static "vendor/tailwindcss.css" %}"></script>
    <script src="{% static 'js/flowbite.js' %}"></script>
    <title>EagleAntiCheat | Dashboard</title>
    <style>
          ::-webkit-scrollbar {
            width: 8px;
          }
          ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey; 
            border-radius: 10px;
          }
          ::-webkit-scrollbar-thumb {
            background: rgb(88 28 135 / var(--tw-bg-opacity)); 
            border-radius: 10px;
          }
          ::-webkit-scrollbar-thumb:hover {
            background: rgb(108 48 155 / var(--tw-bg-opacity)); 
          }
          ::-webkit-scrollbar-thumb:active {
            background: rgb(68 8 115 / var(--tw-bg-opacity)); 
          }
          
    </style>
</head>
<body class="bg-black text-white flex flex-col min-h-screen">
    {% include "components/dashboard/sidebar.jinja" %}
    <main class="flex-grow p-4 sm:ml-64">
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>