{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" description="AtomicShield">
    <meta name="title" description="AtomicShield - AntiCheat">
    <meta name="description" content="The ultimate anti-cheating solution for secure and fair online experiences. Protect your server with advanced detection, real-time monitoring, and robust prevention tools. Ensure integrity today!">
    <link rel="shortcut icon" type="image/jpg" href="/static/assets/images/logo.png">
    <meta itemprop="image" type="image/jpg" href="/static/assets/images/logo.png">
    <script src="{% static "vendor/tailwindcss.css" %}"></script>

    <title>AtomicShield | Welcome</title>
</head>
<body class="bg-black text-white flex flex-col min-h-screen">
    
    {% include "components/navbar.jinja" %}

    <main class="flex-grow">
        {% block content %}
        {% endblock content %}
    </main>
    
    {% include "components/footer.jinja" %}
</body>
</html>